# dependencies & build
node_modules/
dist/

# test outputs
playwright-report/
test-results/
coverage/

# env & OS noise
.env
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
